[submodule "extern/GSW-Fortran"]
	path = extern/GSW-Fortran
	url = ../../TEOS-10/GSW-Fortran.git
[submodule "extern/flexout"]
	path = extern/flexout
	url = ../flexout
[submodule "extern/datetime-fortran"]
	path = extern/datetime-fortran
	url = ../../wavebitscientific/datetime-fortran.git
