! Copyright (C) 2020 Bolding & Bruggeman
!> Short module description
!>
!> Current Code Owner: < Name of person responsible for this code >
!>
!> Language: Fortran 90.
!-----------------------------------------------------------------------------

MODULE < name >

  < Module imports >

   IMPLICIT NONE

   PRIVATE  ! Private scope by default


!  Module constants

!  Module variables

! Public members
  PUBLIC :: < Public members >

!-----------------------------------------------------------------------------

CONTAINS
  
!-----------------------------------------------------------------------------
  
  < Any subroutines or functions, each following the appropriate
    template (minus copyright notice) >

END MODULE <name>

